<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Выпускники Гимназии №7</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'graduate' %}" class="nav-link active" aria-current="page">Выпускники</a></li>
        <li class="nav-item"><a href="{% url 'wishes' %}" class="nav-link">Советы</a></li>
           <li class="nav-item"><a href="{% url 'achievement' %}" class="nav-link">Достижения</a></li>
            <li class="nav-item"><a href="{% url 'create' %}" class="nav-link">Добавить достижения</a></li>
      </ul>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>